<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'Burger.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Find local Burgers, Brewers, & Fast-food</h3>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pizza-pepperoni.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Find local Pizza & Italian dining</h3>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'asado-tacos.png', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Find local Tex-Mex & South American cocinas</h3>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'chicken-tikka.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Find local Indian & Thai kitchens</h3>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'sushi.png', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Find local Chinese & Japanese </h3>
        </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'drinks-nightlfe.jpg', class: 'd-block img-fluid' %>
        <div class="carousel-caption d-none d-md-block">
          <h3>Find local Coffee, Drinks & Nightlife</h3>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

<% if place.comments.present? %>
    <div class="col-12">
      <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
      <% end %>
      <%= place.comments.last.message %>
      <small><%= place.comments.last.user.email %></small>
      </blockquote>
    </div>
  <%end %>


    <div class="photoshow img-thumbnail" style= "max-width: 200px; max-height: 200px">

    <% if place.photos.last.picture.url %>
      <%= image_tag place.photos.last.picture.url %>
       <small><%= place.photos.last.caption %></small>
        </div>
      <% end %>
    <% end %>
  </div>

<%== pagy_bootstrap_nav(@pagy) %>